a {
    border-bottom: 2px solid $primary;
    color: rgba($black, .875);
    text-decoration: none;
    transition: all ease-in .25s;

    &:hover {
        border-color: $black;
        color: $black;
        text-decoration: none;     
    }
}

h1 a,
h2 a,
h3 a {
    border: none;
}


// provide padding to anchor elements
// to avoid being hidden under navbar
// px = navbar height + 10px buffer
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
    display: block;
    position: relative;
    margin-top: -68px;
    padding-top: 68px;

    @include media-breakpoint-up(md) {
        margin-top: -93px;
        padding-top: 93px;
    }

    &#blog-2 {
        @include media-breakpoint-up(md) {
            margin-top: -139px;
            padding-top: 139px;
        }
    }

    &.body-subsite {
         @include media-breakpoint-up(md) {
            margin-top: -139px;
            padding-top: 139px;
        }
    }
}

.item-header .item-meta .icon-link a {
    border-bottom: 0;
}