div.search-form {
    @include make-row;
    justify-content: center;
    margin-bottom: 4rem;

    form {
        @include make-col-ready;
        @include make-col(6);;
    }
}

.search-field {
    @extend .form-control-lg;
    border-radius: 0;
}

.relevanssi-query-term {
    @include bold;
}

.search-result-from {
    display: flex;
    margin-bottom: -1rem;

    & > span {
        background: $primary;
        box-shadow: $box-shadow;
        color: $black;
        display: block;
        font-size: 87.5%;
        line-height: 1;
        padding: $paragraph-margin-bottom / 2;
    }

    a {
        font-weight: 700;
    }
}